body {

}

.homeDiv {
  margin-top: 5%;
}

h1 {
  color: rgb(246, 230, 248);
  font-family: "MyFont";
  text-align: center;
}

p {
  color: rgb(246, 230, 248);
  font-family: "MyFont";
  text-align: center;
}

.machine {
  height: 500px;
  width: 250px;
}

/* .machineRow {
 ;
} */

.machineDiv {
  margin-top: 5%;
  text-align: center;
}

.gameBanner {
  display: block;
  padding-top: 35px;
  margin: 0 auto;
  height: 200px;
  width: 100%;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/arcadeFont.ttf);
}