body {

}

.background {
  background-image: url(../assets/scoreboard.jpg);
  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
}

h1 {
  color: rgb(67, 23, 117);
  font-family: "MyFont";
  text-align: center;
}

p {
  color: rgb(67, 23, 117);
  font-family: "MyFont";
  text-align: center;
}

.enterPicture {
  display: block;
  margin: 0 auto;
  height: 450px;
  width: 500px;
}

.gameBanner {
  display: block;
  padding-top: 35px;
  margin: 0 auto;
  height: 200px;
  width: 100%;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/arcadeFont.ttf);
}