body {

}

.homeDiv {
  margin-top: 5%;
}

h1 {
  color: rgb(246, 230, 248);
  font-family: "MyFont";
  text-align: center;
}

p {
  color: rgb(246, 230, 248);
  font-family: "MyFont";
  text-align: center;
}

.machine {
  height: 500px;
  width: 250px;
}

/* .machineRow {
 ;
} */

.machineDiv {
  margin-top: 5%;
  text-align: center;
}

.highScores {
  display: block;
  padding-top: 5%;
  margin: 0 auto;
  height: 150px;
  width: 35%;
}

.input {
  display: block;
  padding-top: 5%;
  padding-left: 7%;
  margin: 0 auto;
  height: 150px;
  width: 50%;
}

.gameBanner {
  display: block;
  padding-top: 5%;
  margin: 0 auto;
  height: 200px;
  width: 50%;
}

.gameDiv {
  margin-top: 5%;
  text-align: center;
}

.game {
  height: 500px;
  width: 700px;
}

.scoreboard {
  margin-left: 50px;
  height: 500px;
  width: 250px;
}

.comingSoon {
  margin-top: 10%;
}

.bannerDiv {
  text-align: center;
}

.banner {
  height: 200px;
  width: 900px;
}

.smallContainer {
  position: absolute;
  top: 0%;
  right: 0%;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../fonts/arcadeFont.ttf);
}